.sticky{
    position: sticky;
    top: 0px;
    padding: 5px;
    background-color: antiquewhite;
    border: 2px solid;
    text-align: center;
}

h1{
    font-family:Garamond, serif ;
}

.border{
    border-style: solid;
    border-left: 0;
    border-right: 0;
    border-width: 0.1px;
    padding: auto;
    margin: 50px;
    text-align: center;
    }

    p{
        text-align: center;
        color: grey;
        font-weight: 200;
    }

    span{
        color: lightskyblue;
    }