.title{
    font-family:Garamond, serif ;
    font-size: 30px;
    text-align: center;
    margin-top: 1%;
    font-weight: 400;
}

p{
    text-align: center;
    color: grey;
    font-weight: 200;
    line-height: 1%;
}

.border{
border-top: solid;
border-top-width: 0.1px;
margin-top: 3%;
}